@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: InterVariable, Helvetica, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt";
  }
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
